<?xml version="1.0"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;"/>
		<add key="smscountry.service" value="http://www.smscountry.com/service.asmx"/>
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
	</appSettings>
	<connectionStrings>    
    
		<add name="MyProject" connectionString="Data Source=Test2k;Initial Catalog=jctdev4;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="ReportDBConnectionString" connectionString="Data Source=miserp;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="TestReportDBConnectionString" connectionString="Data Source=miserptest2;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
		<add name="test" connectionString="Data Source=test2k;Initial Catalog=jctdev;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
		<add name="testjctgen" connectionString="Data Source=test2k;Initial Catalog=jctgen;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
		<add name="test1" connectionString="Data Source=test2k;Initial Catalog=jctdev1;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
		<add name="APDBCoonectionString" connectionString=" Data Source=miserp;Initial Catalog=APDB;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
		<add name="misjctdev" connectionString="Data Source=MISDEV;Initial Catalog=jctdev;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="misjctgen" connectionString="Data Source=MISDEV;Initial Catalog=jctgen;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="misjctgentest" connectionString="Data Source=test2k;Initial Catalog=jctgen;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="test2kproduction" connectionString=" Data Source=test2k;Initial Catalog=jctdev;Persist Security Info=True;User ID=trainee;Password=trainee;Connect Timeout=0; pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="miserptest2" connectionString=" Data Source=miserp;Initial Catalog=ARDB;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="MisSom" connectionString="Data Source=MISERP;Initial Catalog=Som;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="POMCoonectionString" connectionString="Data Source=MISERP;Initial Catalog=pomdb;Persist Security Info=True;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="shpConnectionString" connectionString="Data Source=miserp;Initial Catalog=shp;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="jctgenConnectionString" connectionString="Data Source=misdev;Initial Catalog=jctgen;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="jctdevConnectionString" connectionString="Data Source=MISDEV;Initial Catalog=jctdev;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="shpConnectionString2" connectionString="Data Source=miserp;Initial Catalog=shp;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="SOMConnectionString" connectionString="Data Source=miserp;Initial Catalog=SOM;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="IMSDBConnectionString" connectionString="Data Source=miserp;Initial Catalog=IMSDB;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="arConnectionString" connectionString="Data Source=miserp;Initial Catalog=ardb;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="TestReportDBConnectionString" connectionString="Data Source=miserptest2;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="productionConnectionString1" connectionString="Data Source=misdev;Initial Catalog=production;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="misprod" connectionString="Data Source=misdev;Initial Catalog=production;User ID= itgrp;Password= power " providerName="System.Data.SqlClient"/>
		<add name="workwagesConnectionString" connectionString="Data Source=misdev;Initial Catalog=workwages;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
		<add name="prodConnectionString" connectionString="Data Source=MISDEV;Initial Catalog=production;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="DRS" connectionString="Data Source=misdev;Initial Catalog=DRS;Persist Security Info=True;User ID= itgrp;Password= power;Connect Timeout = 100000;" providerName="System.Data.SqlClient"/>
    <add name="misupload" connectionString="Data Source=test2k;Initial Catalog=jctdev4;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    
		<!--Test2k Connection-->
    <!--<add name="Mishspweb" connectionString="Data Source=hspweb;Initial Catalog=saviorworker1;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 1000000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="ReportDBConnectionString" connectionString="Data Source=testerp;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="TestReportDBConnectionString" connectionString="Data Source=miserptest2;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="test" connectionString="Data Source=test2k;Initial Catalog=jctdev;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
    <add name="testjctgen" connectionString="Data Source=test2k;Initial Catalog=jctgen;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
    <add name="test1" connectionString="Data Source=test2k;Initial Catalog=jctdev1;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
    <add name="APDBCoonectionString" connectionString=" Data Source=testerp;Initial Catalog=APDB;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
    <add name="misjctdev" connectionString="Data Source=test2k;Initial Catalog=jctdev3;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="misupload" connectionString="Data Source=test2k;Initial Catalog=jctdev4;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>    
    <add name="misjctgen" connectionString="Data Source=test2k;Initial Catalog=jctgen;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="misjctgentest" connectionString="Data Source=test2k;Initial Catalog=jctgen;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout = 100000;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="test2kproduction" connectionString=" Data Source=test2k;Initial Catalog=jctdev;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="miserptest2" connectionString=" Data Source=ERPSQL14\MSSQL14;Initial Catalog=ARDB;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="MisSom" connectionString="Data Source=testerp;Initial Catalog=Som;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="POMCoonectionString" connectionString="Data Source=testerp;Initial Catalog=pomdb;Persist Security Info=True;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="shpConnectionString" connectionString="Data Source=testerp;Initial Catalog=shp;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="jctgenConnectionString" connectionString="Data Source=test2k;Initial Catalog=jctgen;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="jctdevConnectionString" connectionString="Data Source=test2k;Initial Catalog=jctdev;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="shpConnectionString2" connectionString="Data Source=testerp;Initial Catalog=shp;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="SOMConnectionString" connectionString="Data Source=testerp;Initial Catalog=SOM;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="IMSDBConnectionString" connectionString="Data Source=testerp;Initial Catalog=IMSDB;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="arConnectionString" connectionString="Data Source=testerp;Initial Catalog=ardb;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="TestReportDBConnectionString" connectionString="Data Source=miserptest2;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="productionConnectionString1" connectionString="Data Source=test2k;Initial Catalog=production;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="misprod" connectionString="Data Source=test2k;Initial Catalog=production;User ID= itgrp;Password= power " providerName="System.Data.SqlClient"/>
    <add name="workwagesConnectionString" connectionString="Data Source=test2k;Initial Catalog=workwages;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="prodConnectionString" connectionString="Data Source=test2k;Initial Catalog=production;User ID=itgrp;Password=power;pooling=true;Max Pool Size=200;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="DRS" connectionString="Data Source=test2k;Initial Catalog=DRS;Persist Security Info=True;User ID= itgrp;Password= power;Connect Timeout = 100000;" providerName="System.Data.SqlClient"/>
    <add name="APDBCoonectionString" connectionString=" Data Source=testerp;Initial Catalog=APDB;Persist Security Info=True;User ID=itgrp;Password=power;Connect Timeout=0; " providerName="System.Data.SqlClient"/>
    <add name="ReportDBConnectionString" connectionString="Data Source=testerp;Initial Catalog=REPORTDB;Persist Security Info=True;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>
    <add name="workwagesConnectionString" connectionString="Data Source=test2k;Initial Catalog=workwages;User ID=itgrp;Password=power" providerName="System.Data.SqlClient"/>-->
    
    
    
	</connectionStrings>
	<system.web>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>


      <add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false"/>
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"></add>
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"></add>
      
      
  <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers>
  <httpRuntime executionTimeout="600" maxRequestLength="1048576"/>
		<customErrors mode="Off" defaultRedirect="ErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="eWorld.UI.Compatibility, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
				<add assembly="eWorld.UI, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
				<!--<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/><add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
			<!--Taken from Costing System-->
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
			<codeSubDirectories>
				<add directoryName="CsCode"></add>
			</codeSubDirectories>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
   <namespaces>
    <clear/>
    <add namespace="System"/>
    <add namespace="System.Collections"/>
    <add namespace="System.Collections.Generic"/>
    <add namespace="System.Collections.Specialized"/>
    <add namespace="System.Configuration"/>
    <add namespace="System.Text"/>
    <add namespace="System.Text.RegularExpressions"/>
    <add namespace="System.Linq"/>
    <add namespace="System.Xml.Linq"/>
    <add namespace="System.Web"/>
    <add namespace="System.Web.Caching"/>
    <add namespace="System.Web.SessionState"/>
    <add namespace="System.Web.Security"/>
    <add namespace="System.Web.Profile"/>
    <add namespace="System.Web.UI"/>
    <add namespace="System.Web.UI.WebControls"/>
    <add namespace="System.Web.UI.WebControls.WebParts"/>
    <add namespace="System.Web.UI.HtmlControls"/>
   </namespaces>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
   </controls>
  </pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows">-->
		<authentication mode="Forms">
			<forms timeout="60" slidingExpiration="true"/>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>-->
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
  <validation validateIntegratedModeConfiguration="false"/>
  <handlers>
   <remove name="ChartImageHandler"/>
   <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </handlers>
 </system.webServer>
	<!--<location allowOverride="true" >
    <appSettings>
    
      <add key="ChartImageHandler" value="storage=file;timeout=20;"/>
    </appSettings>
    
  </location>-->
</configuration>